https://stackoverflow.com/questions/13035764/remove-rows-with-duplicate-indices-pandas-dataframe-and-timeseries/34297689#34297689

In [2]:
import pandas as pd

In [38]:
df = pd.DataFrame( {'item':[ 1, 1, 2, 2], 'color':['A', 'B', 'A', 'C'], 'value':[1.2, 1, 2, 4] })
df

  color  item  value
0     A     1    1.2
1     B     1    1.0
2     A     2    2.0
3     C     2    4.0

In [39]:
df = df1.set_index(['item', 'color'])
df

            value
item color
1    A        1.2
     B        1.0
2    A        2.0
     C        4.0

In [40]:
df = df.reset_index()
df

   item color  value
0     1     A    1.2
1     1     B    1.0
2     2     A    2.0
3     2     C    4.0

In [41]:
df1 = pd.DataFrame ({'item':[ 1], 'color':['A'], 'value':[3.4] })
df1

  color  item  value
0     A     1    3.4

In [43]:
df2 = df.append(add)
df2

  color  item  value
0     A     1    1.2
1     B     1    1.0
2     A     2    2.0
3     C     2    4.0
0     A     1    3.4

In [44]:
df2.set_index(['item', 'color'], inplace=True)
df2

            value
item color
1    A        1.2
     B        1.0
2    A        2.0
     C        4.0
1    A        3.4

In [49]:
df2

            value
item color
1    A        1.2
     B        1.0
2    A        2.0
     C        4.0
1    A        3.4

In [50]:
df3 = df2[df2.index.duplicated(keep='last')]
df3

            value
item color
1    A        1.2

In [51]:
df4 = df2[~df2.index.duplicated(keep='last')]
df4

            value
item color
1    B        1.0
2    A        2.0
     C        4.0
1    A        3.4