https://stackoverflow.com/questions/13035764/remove-rows-with-duplicate-indices-pandas-dataframe-and-timeseries/34297689#34297689

In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame( {'item':[ 1, 1, 2, 2], 'color':['A', 'B', 'A', 'C'], 'value':[1.2, 1, 2, 4] }, columns=['item', 'color', 'value'])
df

   item color  value
0     1     A    1.2
1     1     B    1.0
2     2     A    2.0
3     2     C    4.0

In [3]:
dfA = pd.DataFrame( {'item':[ 1, 1, 2, 2], 'color':['A', 'B', 'C', 'D'], 'value':[1.2, 1, 2, 4] }, columns=['item', 'color', 'value'])
dfB = pd.DataFrame( {'item':[ 2, 2, 3, 3], 'color':['C', 'D', 'F', 'G'], 'value':[2, 4, 8, 9] }, columns=['item', 'color', 'value'])
dfA

   item color  value
0     1     A    1.2
1     1     B    1.0
2     2     C    2.0
3     2     D    4.0

In [4]:
dfB

   item color  value
0     2     C      2
1     2     D      4
2     3     F      8
3     3     G      9

In [5]:
df.iloc[[1]]
df.iloc[[0,2,3]]

   item color  value
0     1     A    1.2
2     2     A    2.0
3     2     C    4.0

In [6]:
ind = ('item', 'color')
df = df.reset_index()
df = df.set_index([*ind])
df

            index  value
item color
1    A          0    1.2
     B          1    1.0
2    A          2    2.0
     C          3    4.0

In [7]:
df = df.reset_index()
df

   item color  index  value
0     1     A      0    1.2
1     1     B      1    1.0
2     2     A      2    2.0
3     2     C      3    4.0

In [8]:
df1 = pd.DataFrame ({'item':[ 1], 'color':['A'], 'value':[3.4] })
df1

  color  item  value
0     A     1    3.4

In [9]:
df = pd.DataFrame(None, columns=['value'], index=['item', 'color'])
df

      value
item    NaN
color   NaN

In [10]:
df.assign(value=['153','1235'])
df

      value
item    NaN
color   NaN

In [11]:
dfa = pd.read_csv('/Users/Keith/Projects/pybcm_proj/test/resources/priceguide.csv')
dfa

,item,color,new_or_used,avg_price,max_price,min_price,qty_avg_price,total_quantity,unit_quantity,currency_code
0,3020,11,N,0.08,4.040,0.007,0.07,38,145,USD
1,3020,11,U,0.05,0.960,0.001,0.04,10,199,USD
2,3020,11,U,9.07,9.980,9.001,0.96,14,967,USD
3,4733,10,N,0.19,8.247,0.015,0.11,38,930,USD
4,4733,11,N,0.23,2.850,0.001,0.20,60,136,USD

In [29]:
import pandas as pd
from pandas import DataFrame

NewDataFrame = DataFrame

def my_func(a):
    print("Hi I'm a NewDataFrame")

setattr(NewDataFrame, "f", my_func)
npd = NewDataFrame()
npd.f()
pd = DataFrame()
pd.f()

Hi I'm a NewDataFrame
Hi I'm a NewDataFrame

In [37]:
class MyDataFrame(DataFrame):
    pass

my = MyDataFrame([['3004', 'red', 1.2345]], columns=['item', 'color', 'value'])
my

   item color   value
0  3004   red  1.2345