https://stackoverflow.com/questions/13035764/remove-rows-with-duplicate-indices-pandas-dataframe-and-timeseries/34297689#34297689

In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame( {'item':[ 1, 1, 2, 2], 'color':['A', 'B', 'A', 'C'], 'value':[1.2, 1, 2, 4] }, columns=['item', 'color', 'value'])
df

   item color  value
0     1     A    1.2
1     1     B    1.0
2     2     A    2.0
3     2     C    4.0

In [3]:
dfA = pd.DataFrame( {'item':[ 1, 1, 2, 2], 'color':['A', 'B', 'C', 'D'], 'value':[1.2, 1, 2, 4] }, columns=['item', 'color', 'value'])
dfB = pd.DataFrame( {'item':[ 2, 2, 3, 3], 'color':['C', 'D', 'F', 'G'], 'value':[2, 4, 8, 9] }, columns=['item', 'color', 'value'])
dfA

   item color  value
0     1     A    1.2
1     1     B    1.0
2     2     C    2.0
3     2     D    4.0

In [4]:
dfB

   item color  value
0     2     C      2
1     2     D      4
2     3     F      8
3     3     G      9

In [5]:
df.iloc[[1]]
df.iloc[[0,2,3]]

   item color  value
0     1     A    1.2
2     2     A    2.0
3     2     C    4.0

In [6]:
ind = ('item', 'color')
df = df.reset_index()
df = df.set_index([*ind])
df

            index  value
item color
1    A          0    1.2
     B          1    1.0
2    A          2    2.0
     C          3    4.0

In [7]:
df = df.reset_index()
df

   item color  index  value
0     1     A      0    1.2
1     1     B      1    1.0
2     2     A      2    2.0
3     2     C      3    4.0

In [8]:
df1 = pd.DataFrame ({'item':[ 1], 'color':['A'], 'value':[3.4] })
df1

  color  item  value
0     A     1    3.4

In [9]:
df = pd.DataFrame(None, columns=['value'], index=['item', 'color'])
df

      value
item    NaN
color   NaN

In [10]:
df.assign(value=['153','1235'])
df

      value
item    NaN
color   NaN

In [11]:
dfa = pd.read_csv('/Users/Keith/Projects/pybcm_proj/test/resources/priceguide.csv')
dfa

,item,color,new_or_used,avg_price,max_price,min_price,qty_avg_price,total_quantity,unit_quantity,currency_code
0,3020,11,N,0.08,4.040,0.007,0.07,38,145,USD
1,3020,11,U,0.05,0.960,0.001,0.04,10,199,USD
2,3020,11,U,9.07,9.980,9.001,0.96,14,967,USD
3,4733,10,N,0.19,8.247,0.015,0.11,38,930,USD
4,4733,11,N,0.23,2.850,0.001,0.20,60,136,USD

{'In': ['',
  'import pandas as pd',
  "df = pd.DataFrame( {'item':[ 1, 1, 2, 2], 'color':['A', 'B', 'A', 'C'], 'value':[1.2, 1, 2, 4] }, columns=['item', 'color', 'value'])\ndf",
  "dfA = pd.DataFrame( {'item':[ 1, 1, 2, 2], 'color':['A', 'B', 'C', 'D'], 'value':[1.2, 1, 2, 4] }, columns=['item', 'color', 'value'])\ndfB = pd.DataFrame( {'item':[ 2, 2, 3, 3], 'color':['C', 'D', 'F', 'G'], 'value':[2, 4, 8, 9] }, columns=['item', 'color', 'value'])\ndfA",
  'dfB',
  'df.iloc[[1]]\ndf.iloc[[0,2,3]]',
  "ind = ('item', 'color')\ndf = df.reset_index()\ndf = df.set_index([*ind])\ndf",
  'df = df.reset_index()\ndf',
  "df1 = pd.DataFrame ({'item':[ 1], 'color':['A'], 'value':[3.4] })\ndf1",
  "df = pd.DataFrame(None, columns=['value'], index=['item', 'color'])\ndf                          ",
  "df.assign(value=['153','1235'])\ndf",
  "dfa = pd.read_csv('/Users/Keith/Projects/pybcm_proj/test/resources/priceguide.csv')\ndfa",
  'globals()'],
 'Out': {2:    item color  value
  0     1     A    1.2
  1     1     B    1.0
  2     2     A    2.0
  3     2     C    4.0, 3:    item color  value
  0     1     A    1.2
  1     1     B    1.0
  2     2     C    2.0
  3     2     D    4.0, 4:    item color  value
  0     2     C      2
  1     2     D      4
  2     3     F      8
  3     3     G      9, 5:    item color  value
  0     1     A    1.2
  2     2     A    2.0
  3     2     C    4.0, 6:             index  value
  item color
  1    A          0    1.2
       B          1    1.0
  2    A          2    2.0
       C          3    4.0, 7:    item color  index  value
  0     1     A      0    1.2
  1     1     B      1    1.0
  2     2     A      2    2.0
  3     2     C      3    4.0, 8:   color  item  value
  0     A     1    3.4, 9:       value
  item    NaN
  color   NaN, 10:       value
  item    NaN
  color   NaN, 11:    item  color new_or_used  avg_price  max_price  min_price  qty_avg_price  \
  0  3020     11           N       0.08      4.040      0.007           0.07
  1  3020     11           U       0.05      0.960      0.001           0.04
  2  3020     11           U       9.07      9.980      9.001           0.96
  3  4733     10           N       0.19      8.247      0.015           0.11
  4  4733     11           N       0.23      2.850      0.001           0.20

     total_quantity  unit_quantity currency_code
  0              38            145           USD
  1              10            199           USD
  2              14            967           USD
  3              38            930           USD
  4              60            136           USD  },
 '_':    item  color new_or_used  avg_price  max_price  min_price  qty_avg_price  \
 0  3020     11           N       0.08      4.040      0.007           0.07
 1  3020     11           U       0.05      0.960      0.001           0.04
 2  3020     11           U       9.07      9.980      9.001           0.96
 3  4733     10           N       0.19      8.247      0.015           0.11
 4  4733     11           N       0.23      2.850      0.001           0.20

    total_quantity  unit_quantity currency_code
 0              38            145           USD
 1              10            199           USD
 2              14            967           USD
 3              38            930           USD
 4              60            136           USD  ,
 '_10':       value
 item    NaN
 color   NaN,
 '_11':    item  color new_or_used  avg_price  max_price  min_price  qty_avg_price  \
 0  3020     11           N       0.08      4.040      0.007           0.07
 1  3020     11           U       0.05      0.960      0.001           0.04
 2  3020     11           U       9.07      9.980      9.001           0.96
 3  4733     10           N       0.19      8.247      0.015           0.11
 4  4733     11           N       0.23      2.850      0.001           0.20

    total_quantity  unit_quantity currency_code
 0              38            145           USD
 1              10            199           USD
 2              14            967           USD
 3              38            930           USD
 4              60            136           USD  ,
 '_2':    item color  value
 0     1     A    1.2
 1     1     B    1.0
 2     2     A    2.0
 3     2     C    4.0,
 '_3':    item color  value
 0     1     A    1.2
 1     1     B    1.0
 2     2     C    2.0
 3     2     D    4.0,
 '_4':    item color  value
 0     2     C      2
 1     2     D      4
 2     3     F      8
 3     3     G      9,
 '_5':    item color  value
 0     1     A    1.2
 2     2     A    2.0
 3     2     C    4.0,
 '_6':             index  value
 item color
 1    A          0    1.2
      B          1    1.0
 2    A          2    2.0
      C          3    4.0,
 '_7':    item color  index  value
 0     1     A      0    1.2
 1     1     B      1    1.0
 2     2     A      2    2.0
 3     2     C      3    4.0,
 '_8':   color  item  value
 0     A     1    3.4,
 '_9':       value
 item    NaN
 color   NaN,
 '__':       value
 item    NaN
 color   NaN,
 '___':       value
 item    NaN
 color   NaN,
 '__builtin__': <module 'builtins' (built-in)>,
 '__builtins__': <module 'builtins' (built-in)>,
 '__doc__': 'Automatically created module for IPython interactive environment',
 '__loader__': None,
 '__name__': '__main__',
 '__package__': None,
 '__spec__': None,
 '_dh': ['/Users/Keith/Projects/pybcm_proj/other_tests'],
 '_i': "dfa = pd.read_csv('/Users/Keith/Projects/pybcm_proj/test/resources/priceguide.csv')\ndfa",
 '_i1': 'import pandas as pd',
 '_i10': "df.assign(value=['153','1235'])\ndf",
 '_i11': "dfa = pd.read_csv('/Users/Keith/Projects/pybcm_proj/test/resources/priceguide.csv')\ndfa",
 '_i12': 'globals()',
 '_i2': "df = pd.DataFrame( {'item':[ 1, 1, 2, 2], 'color':['A', 'B', 'A', 'C'], 'value':[1.2, 1, 2, 4] }, columns=['item', 'color', 'value'])\ndf",
 '_i3': "dfA = pd.DataFrame( {'item':[ 1, 1, 2, 2], 'color':['A', 'B', 'C', 'D'], 'value':[1.2, 1, 2, 4] }, columns=['item', 'color', 'value'])\ndfB = pd.DataFrame( {'item':[ 2, 2, 3, 3], 'color':['C', 'D', 'F', 'G'], 'value':[2, 4, 8, 9] }, columns=['item', 'color', 'value'])\ndfA",
 '_i4': 'dfB',
 '_i5': 'df.iloc[[1]]\ndf.iloc[[0,2,3]]',
 '_i6': "ind = ('item', 'color')\ndf = df.reset_index()\ndf = df.set_index([*ind])\ndf",
 '_i7': 'df = df.reset_index()\ndf',
 '_i8': "df1 = pd.DataFrame ({'item':[ 1], 'color':['A'], 'value':[3.4] })\ndf1",
 '_i9': "df = pd.DataFrame(None, columns=['value'], index=['item', 'color'])\ndf                          ",
 '_ih': ['',
  'import pandas as pd',
  "df = pd.DataFrame( {'item':[ 1, 1, 2, 2], 'color':['A', 'B', 'A', 'C'], 'value':[1.2, 1, 2, 4] }, columns=['item', 'color', 'value'])\ndf",
  "dfA = pd.DataFrame( {'item':[ 1, 1, 2, 2], 'color':['A', 'B', 'C', 'D'], 'value':[1.2, 1, 2, 4] }, columns=['item', 'color', 'value'])\ndfB = pd.DataFrame( {'item':[ 2, 2, 3, 3], 'color':['C', 'D', 'F', 'G'], 'value':[2, 4, 8, 9] }, columns=['item', 'color', 'value'])\ndfA",
  'dfB',
  'df.iloc[[1]]\ndf.iloc[[0,2,3]]',
  "ind = ('item', 'color')\ndf = df.reset_index()\ndf = df.set_index([*ind])\ndf",
  'df = df.reset_index()\ndf',
  "df1 = pd.DataFrame ({'item':[ 1], 'color':['A'], 'value':[3.4] })\ndf1",
  "df = pd.DataFrame(None, columns=['value'], index=['item', 'color'])\ndf                          ",
  "df.assign(value=['153','1235'])\ndf",
  "dfa = pd.read_csv('/Users/Keith/Projects/pybcm_proj/test/resources/priceguide.csv')\ndfa",
  'globals()'],
 '_ii': "df.assign(value=['153','1235'])\ndf",
 '_iii': "df = pd.DataFrame(None, columns=['value'], index=['item', 'color'])\ndf                          ",
 '_oh': {2:    item color  value
  0     1     A    1.2
  1     1     B    1.0
  2     2     A    2.0
  3     2     C    4.0, 3:    item color  value
  0     1     A    1.2
  1     1     B    1.0
  2     2     C    2.0
  3     2     D    4.0, 4:    item color  value
  0     2     C      2
  1     2     D      4
  2     3     F      8
  3     3     G      9, 5:    item color  value
  0     1     A    1.2
  2     2     A    2.0
  3     2     C    4.0, 6:             index  value
  item color
  1    A          0    1.2
       B          1    1.0
  2    A          2    2.0
       C          3    4.0, 7:    item color  index  value
  0     1     A      0    1.2
  1     1     B      1    1.0
  2     2     A      2    2.0
  3     2     C      3    4.0, 8:   color  item  value
  0     A     1    3.4, 9:       value
  item    NaN
  color   NaN, 10:       value
  item    NaN
  color   NaN, 11:    item  color new_or_used  avg_price  max_price  min_price  qty_avg_price  \
  0  3020     11           N       0.08      4.040      0.007           0.07
  1  3020     11           U       0.05      0.960      0.001           0.04
  2  3020     11           U       9.07      9.980      9.001           0.96
  3  4733     10           N       0.19      8.247      0.015           0.11
  4  4733     11           N       0.23      2.850      0.001           0.20

     total_quantity  unit_quantity currency_code
  0              38            145           USD
  1              10            199           USD
  2              14            967           USD
  3              38            930           USD
  4              60            136           USD  },
 '_sh': <module 'IPython.core.shadowns' from '/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/IPython/core/shadowns.py'>,
 'df':       value
 item    NaN
 color   NaN,
 'df1':   color  item  value
 0     A     1    3.4,
 'dfA':    item color  value
 0     1     A    1.2
 1     1     B    1.0
 2     2     C    2.0
 3     2     D    4.0,
 'dfB':    item color  value
 0     2     C      2
 1     2     D      4
 2     3     F      8
 3     3     G      9,
 'dfa':    item  color new_or_used  avg_price  max_price  min_price  qty_avg_price  \
 0  3020     11           N       0.08      4.040      0.007           0.07
 1  3020     11           U       0.05      0.960      0.001           0.04
 2  3020     11           U       9.07      9.980      9.001           0.96
 3  4733     10           N       0.19      8.247      0.015           0.11
 4  4733     11           N       0.23      2.850      0.001           0.20

    total_quantity  unit_quantity currency_code
 0              38            145           USD
 1              10            199           USD
 2              14            967           USD
 3              38            930           USD
 4              60            136           USD  ,
 'exit': <IPython.core.autocall.ZMQExitAutocall at 0x10496b908>,
 'get_ipython': <bound method InteractiveShell.get_ipython of <ipykernel.zmqshell.ZMQInteractiveShell object at 0x104929208>>,
 'ind': ('item', 'color'),
 'pd': <module 'pandas' from '/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/pandas/__init__.py'>,
 'quit': <IPython.core.autocall.ZMQExitAutocall at 0x10496b908>}