https://stackoverflow.com/questions/13035764/remove-rows-with-duplicate-indices-pandas-dataframe-and-timeseries/34297689#34297689

In [1]:
import pandas as pd

In [19]:
df = pd.DataFrame( {'item':[ 1, 1, 2, 2], 'color':['A', 'B', 'A', 'C'], 'value':[1.2, 1, 2, 4] }, columns=['item', 'color', 'value'])
df

   item color  value
0     1     A    1.2
1     1     B    1.0
2     2     A    2.0
3     2     C    4.0

In [26]:
dfA = pd.DataFrame( {'item':[ 1, 1, 2, 2], 'color':['A', 'B', 'C', 'D'], 'value':[1.2, 1, 2, 4] }, columns=['item', 'color', 'value'])
dfB = pd.DataFrame( {'item':[ 2, 2, 3, 3], 'color':['C', 'D', 'F', 'G'], 'value':[2, 4, 8, 9] }, columns=['item', 'color', 'value'])
dfA

   item color  value
0     1     A    1.2
1     1     B    1.0
2     2     C    2.0
3     2     D    4.0

In [27]:
dfB

   item color  value
0     2     C      2
1     2     D      4
2     3     F      8
3     3     G      9

In [18]:
df.iloc[[1]]
df.iloc[[0,2,3]]

   item color  value
0     1     A    1.2
2     2     A    2.0
3     2     C    4.0

In [10]:
ind = ('item', 'color')
df = df.reset_index()
df = df.set_index([*ind])
df

            level_0  index  value
item color
1    A            0      0    1.2
     B            1      1    1.0
2    A            2      2    2.0
     C            3      3    4.0

In [ ]:
df = df.reset_index()
df

In [12]:
df1 = pd.DataFrame ({'item':[ 1], 'color':['A'], 'value':[3.4] })
df1

  color  item  value
0     A     1    3.4

In [13]:
df2 = df.append(add)
df2

NameError: name 'add' is not defined

In [ ]:
df2.set_index(['item', 'color'], inplace=True)
df2

In [ ]:
df2

In [ ]:
df3 = df2[df2.index.duplicated(keep='last')]
df3

In [ ]:
df4 = df2[~df2.index.duplicated(keep='last')]
df4