https://stackoverflow.com/questions/13035764/remove-rows-with-duplicate-indices-pandas-dataframe-and-timeseries/34297689#34297689

In [2]:
import pandas as pd

In [17]:
c = pd.DataFrame( {'item':[ 1, 1, 2, 2], 'color':['A', 'B', 'A', 'C'], 'value':[1.2, 1, 2, 4] })
c

  color  item  value
0     A     1    1.2
1     B     1    1.0
2     A     2    2.0
3     C     2    4.0

In [18]:
c = c.set_index(['item', 'color'])
c

            value
item color
1    A        1.2
     B        1.0
2    A        2.0
     C        4.0

In [19]:
c = c.reset_index()
c

   item color  value
0     1     A    1.2
1     1     B    1.0
2     2     A    2.0
3     2     C    4.0

In [11]:
add = pd.DataFrame ({'item':[ 1], 'color':['A'], 'value':[3.4] })
add

  color  item  value
0     A     1    3.4

In [28]:
new = c.append(add)
new

  color  item  value
0     A     1    1.2
1     B     1    1.0
2     A     2    2.0
3     C     2    4.0
0     A     1    3.4

In [29]:
new.set_index(['item', 'color'], inplace=True)
new

            value
item color
1    A        1.2
     B        1.0
2    A        2.0
     C        4.0
1    A        3.4

In [33]:
ind = new.index.drop_duplicates(keep='last')
ind

MultiIndex(levels=[[1, 2], ['A', 'B', 'C']],
           labels=[[0, 1, 1, 0], [1, 0, 2, 0]],
           names=['item', 'color'])

In [35]:
new.set_index(ind)

ValueError: Length mismatch: Expected axis has 5 elements, new values have 4 elements