In [82]:
import pandas as pd

df = pd.DataFrame( [['3008', '11', 'N', 1.25, .25], 
                    ['3008', '11', 'U', .99, .75],
                   ['3008', '10', 'N', .74, .35],
                    ['3008', '10', 'U', .55, .24],
                   ['3008', '86', 'N', .45, .22],
                   ['3008', '87', 'U', .33, .3]], 
                  columns=['item', 'color', 'new_or_used', 'avg_price', 'min_price'])
df

expected_result = df.iloc[[1,3,4,5]]
expected_result

   item color new_or_used  avg_price  min_price
1  3008    11           U       0.99       0.75
3  3008    10           U       0.55       0.24
4  3008    86           N       0.45       0.22
5  3008    87           U       0.33       0.30

In [83]:
df = df.reset_index().set_index(['item', 'color', 'new_or_used'])
df = df.sort_index()
df

                        index  avg_price  min_price
item color new_or_used
3008 10    N                2       0.74       0.35
           U                3       0.55       0.24
     11    N                0       1.25       0.25
           U                1       0.99       0.75
     86    N                4       0.45       0.22
     87    U                5       0.33       0.30

In [45]:
u_idx = set(zip(df.index.get_level_values(0), df.index.get_level_values(1)))
u_idx

{('3008', '10'), ('3008', '11'), ('3008', '86'), ('3008', '87')}

In [72]:
for idx in u_idx:
    n_or_u = df.loc[idx]['avg_price'].idxmin()
    print(tuple((*idx, n_or_u)))
    #print(df.loc[[idx, n_or_u])

('3008', '10', 'U')
('3008', '86', 'N')
('3008', '11', 'U')
('3008', '87', 'U')

In [77]:
i = [(*idx, df.loc[idx]['avg_price'].idxmin()) for idx in u_idx ]
i

[('3008', '10', 'U'),
 ('3008', '86', 'N'),
 ('3008', '11', 'U'),
 ('3008', '87', 'U')]

In [78]:
df.loc[i]

                        avg_price  min_price
item color new_or_used
3008 10    U                 0.55       0.24
     86    N                 0.45       0.22
     11    U                 0.99       0.75
     87    U                 0.33       0.30

In [79]:
expected_result

   item color new_or_used  avg_price  min_price
1  3008    11           U       0.99       0.75
3  3008    10           U       0.55       0.24
4  3008    86           N       0.45       0.22
5  3008    87           U       0.33       0.30

In [110]:
set(zip(*(df.index.get_level_values(0), df.index.get_level_values(1), df.index.get_level_values(2))))

{('3008', '10', 'N'),
 ('3008', '10', 'U'),
 ('3008', '11', 'N'),
 ('3008', '11', 'U'),
 ('3008', '86', 'N'),
 ('3008', '87', 'U')}

In [109]:
levels=[0,1]
set(zip(*(df.index.get_level_values(i).values for i in levels)))

{('3008', '10'), ('3008', '11'), ('3008', '86'), ('3008', '87')}

In [113]:
def unique_indices_by_level(df, levels=(0)):
    idx = [df.index.get_level_values(i).values for i in levels]
    return set(zip(*idx))

In [114]:
unique_indices_by_level(df, levels=[0,1])

{('3008', '10'), ('3008', '11'), ('3008', '86'), ('3008', '87')}